* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body header {
    color: #5555;
}

.container {
    width: 1766px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.creation-date {
    color: #2e2e2e55;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

.articles article a {
    padding: 8px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

section {
    padding: 16px 0;
    margin-bottom: 16px;
}

section h2,
.articles article {
    margin-bottom: 32px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

#Tecnologia {
    background-color: #e5e5e5;
}

#Tecnologia .articles article a {
    background-color: #999;
}

#Entretenimento {
    background-color: rgba(243, 205, 222, 0.933);
}

#Entretenimento .articles article a {
    background-color: rgb(206, 159, 192);
}

#Economia {
    background-color: #b7c4ca;
}

#Economia .articles article a {
    background-color: rgb(100, 128, 143);
}

#Esportes {
    background-color: #b1c4bc;
}

#Esportes .articles article a {
    background-color: #375a4f33;
}